.App {
  text-align: center;
}

.FilterItem {
  text-align: left;
  border-top: 0.2px solid grey;
  border-bottom: 0.2px solid grey;
  padding-left: 0.5em;
}

.FilterItem h3 {
  margin-bottom: 1.75em;
}

.FormGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
